#lehaut{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 200%;

  }
#conninscription{
  display: flex;
  justify-content: right;
}
header{
  background-color: rgb(0, 0, 0);
}
body{
  background-image: url(../module-connexion/image/1ec7071c640ac52978f4850da3c996a7.jpg);
  background-attachment: fixed; 
  background-size:cover;
  background-color: rgb(255, 255, 255);
  opacity: 90%;
}

.href{
  text-decoration: none;
  color: aliceblue;
}
*{
  padding: 0;
  margin: 0;
}
.rectangle{
	width: 70%;
	height:1000px;
	background:rgb(255, 255, 255);
  opacity: 50%;
  display: flex;
  z-index: -5;
  margin-top: 8%;
  margin-left: 15%;
}

::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}

/* .box-conn{
  text-align: center;
}
.box-button{
  display:block;
  width:150px;
  line-height:50px;
  text-align:center;
  color:rgb(0, 0, 0);
  text-decoration:none;
  } */

  #deplacement_form{
    display: flex;
    justify-content: center;
    padding-top: 10%;
  
}
#form_inscription{
    background-color: rgb(119, 91, 91);
    padding: 3%;
    border-radius: 40%;
    font-size: 150%;
    text-align: center;
}
.box-input{
    padding: 1%;
    margin: 5px;
    font-size: 70%;
}
.box_button{
    background-color: rgb(221, 193, 193);
    border-radius: 20%;
    font-size: 120%;
    padding: 1%;
}
.color_link{
    color: rgb(230, 138, 0);
}
#message_form{
    text-align: center;
    background-color: aqua;
}



#admin_main{
  background-color: rgb(119, 91, 91);
  padding: 3%;
  border-radius: 40%;
  font-size: 150%;
  text-align: center;
}
#dispo{
  font-size: 300%;
  display: flex;
  justify-content: center;
}